<nav class="sub-header-nav-bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3>Dashboard</h3>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <%= render 'weights/cards' %>
  <%= link_to "Add weight card", new_weight_path %>
</div>

<div class="container-fluid">
  <%= render 'meals/cards' %>
   <%= link_to "Add meal card", new_meal_path %>
</div>

<div class="container-fluid">
  <%= render 'sleeps/cards' %>
  <%= link_to "Add sleep card", new_sleep_path %>
</div>
