<div class="row">
  <div class="columns large-3">
    <h2>Dashboard</h2>
  </div>
</div>

<% if current_user.weights.any? %>
  <div class="row">
    <div class="columns large-6">
      <div class="unit-panel">
        <div class="row">
          <div class="columns large-6">
            <h5>Weight</h5>
            <h1><%= current_user.weight.round(1) %></h1>
            <h5>pounds</h5>
          </div>
          <div class="columns large-6">
            <canvas class="chart" data-chart-type="line" data-chart-data="<%= current_user.weights.most_recent(7).map(&:value).reverse %>" width="178" height="102"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="columns large-3">
      <div class="unit-panel">
        <h5>BMI</h5>
        <h1>
          <% if current_user.bmi %>
            <%= current_user.bmi.round(1) %>
          <% else %>
            N/A
          <% end %>
        </h1>
        <h5>points</h5>
      </div>
    </div>

    <div class="columns large-3">
      <div class="unit-panel">
        <h5>HEIGHT</h5>
        <h1>
          <% if current_user.height %>
            <%= current_user.height.round(1) %>
          <% else %>
            N/A
          <% end %>
        </h1>
        <h5>centimeters</h5>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns large-3">
      <div class="unit-panel">
        <h5>Body Fat</h5>
        <h1>
          <% if current_user.fat_percent %>
            <%= current_user.fat_percent.round(1) %>
          <% else %>
            N/A
          <% end %>
        </h1>
        <h5>percent</h5>
      </div>
    </div>

    <% if current_user.fat_percent %>
      <div class="columns large-3">
        <div class="unit-panel">
          <canvas class="chart" data-chart-type="doughnut" data-chart-data="<%= current_user.fat_percent.round(1) %>" width="178" height="102"></canvas>
        </div>
      </div>
    <% end %>

    <div class="columns large-3">
      <div class="unit-panel">
        <h5>Lean Mass</h5>
        <h1>
          <% if current_user.lean_mass %>
            <%= current_user.lean_mass.round(1) %>
          <% else %>
            N/A
          <% end %>
        </h1>
        <h5>pounds</h5>
      </div>
    </div>

    <% if current_user.lean_mass %>
      <div class="columns large-3">
        <div class="unit-panel">
          <canvas class="chart" data-chart-type="doughnut" data-chart-data="<%= current_user.lean_mass_percentage.round(1) %>" width="178" height="102"></canvas>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if current_user.weights.any? %>
  <div class="row">
    <div class="columns large-4">
      <div class="unit-panel">
        <h5>Calories</h5>
        <h1><%= current_user.meals_from(Time.now.at_beginning_of_day).map(&:calories).inject(:+) || 0 %></h1>
        <h5>Today</h5>
      </div>
    </div>
    <div class="columns large-4">
      <div class="unit-panel">
        <h5>Calories</h5>
        <h1><%= (current_user.meals_from(3.days.ago.at_beginning_of_day).map(&:calories).inject(:+) || 0) / 3 %></h1>
        <h5>3 day average</h5>
      </div>
    </div>
    <div class="columns large-4">
      <div class="unit-panel">
        <h5>Calories</h5>
        <h1><%= (current_user.meals_from(7.days.ago.at_beginning_of_day).map(&:calories).inject(:+) || 0) / 7 %></h1>
        <h5>7 day average</h5>
      </div>
    </div>
  </div>
<% end %>
