<nav class="sub-header-nav-bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3>Dashboard</h3>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <% if current_user.weights.any? %>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="unit-panel">
          <div class="panel-body">
            <h1>Weight <small><%= link_to '+', new_weight_path %></small></h1>
            <hr/>
            <h2><%= Unit.new(current_user.weight, :kilograms).to_system(:imperial).round(1) %></h2>
            <h3>Pounds</h3>
            <small>-0.32 lbs vs. 7 days ago</small>
            <hr/>
            <span class="label label-primary">Withings</span>
            <span class="label label-primary">Fitbit</span>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="unit-panel">
          <div class="panel-body">
            <h1>BMI <small><%= link_to '+', new_weight_path %></small></h1>
            <hr/>
            <h2>
              <% if current_user.bmi %>
                <%= current_user.bmi.round(1) %>
              <% else %>
                N/A
              <% end %>
            </h2>
            <h3>points</h3>
            <small>-0.2 points vs. 7 days ago</small>
            <hr/>
            <span class="label label-primary">Withings</span>
            <span class="label label-primary">Fitbit</span>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="unit-panel">
          <div class="panel-body">
            <h1>Body Fat <small><%= link_to '+', new_weight_path %></small></h1>
            <hr/>
            <h2>
              <% if current_user.fat_percent %>
                <%= current_user.fat_percent.round(1) %>
              <% else %>
                N/A
              <% end %>
            </h2>
            <h3>percent</h3>
            <small>-0.25% vs. 7 days ago</small>
            <hr/>
            <span class="label label-primary">Withings</span>
            <span class="label label-primary">Fitbit</span>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="unit-panel">
          <div class="panel-body">
            <h1>Lean Mass <small><%= link_to '+', new_weight_path %></small></h1>
            <hr/>
            <h2>
              <% if current_user.lean_mass %>
                <%= Unit.new(current_user.lean_mass, :kilograms).to_system(:imperial).round(1) %>
              <% else %>
                N/A
              <% end %>
            </h2>
            <h3>pounds</h3>
            <small>+0.2 lbs vs. 7 days ago</small>
            <hr/>
            <span class="label label-primary">Withings</span>
            <span class="label label-primary">Fitbit</span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if current_user.meals.any? %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="unit-panel">
          <div class="panel-body">
            <h1>Calories <small><%= link_to '+', new_meal_path %></small></h1>
            <hr/>
            <h2><%= current_user.meals_from(1.day.ago.at_beginning_of_day).map(&:calories).inject(:+) || 0 %></h2>
            <h3>Count <small>Yesterday</small></h3>
            <small>123 above 7 day average</small>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="unit-panel">
          <div class="panel-body">
            <h1>Carbs <small><%= link_to '+', new_meal_path %></small></h1>
            <hr/>
            <h2><%= current_user.meals_from(1.day.ago.at_beginning_of_day).map(&:carbohydrates).inject(:+) || 0 %></h2>
            <h3>Grams <small>Yesterday</small></h3>
            <small>10 above prior 7 days</small>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="unit-panel">
          <div class="panel-body">
            <h1>Fat <small><%= link_to '+', new_meal_path %></small></h1>
            <hr/>
            <h2><%= current_user.meals_from(1.day.ago.at_beginning_of_day).map(&:fat).inject(:+) || 0 %></h2>
            <h3>Grams <small>Yesterday</small></h3>
            <small>10 above prior 7 days</small>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="unit-panel">
          <div class="panel-body">
            <h1>Protein <small><%= link_to '+', new_meal_path %></small></h1>
            <hr/>
            <h2><%= current_user.meals_from(1.day.ago.at_beginning_of_day).map(&:protein).inject(:+) || 0 %></h2>
            <h3>Grams <small>Yesterday</small></h3>
            <small>10 above prior 7 days</small>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
