<nav class="sub-header-nav-bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3>Dashboard</h3>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <%= render 'weights/cards' %>
</div>

<div class="container-fluid">
  <% if current_user.meals.any? %>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="unit-panel">
          <div class="panel-body">
            <h1>Calories <small><%= link_to '+', new_meal_path %></small></h1>
            <hr/>
            <h2><%= current_user.meals_from(1.day.ago.at_beginning_of_day).map(&:calories).inject(:+) || 0 %></h2>
            <h3>Count <small>Yesterday</small></h3>
            <small>123 above 7 day average</small>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="unit-panel">
          <div class="panel-body">
            <h1>Carbs <small><%= link_to '+', new_meal_path %></small></h1>
            <hr/>
            <h2><%= current_user.meals_from(1.day.ago.at_beginning_of_day).map(&:carbohydrates).inject(:+) || 0 %></h2>
            <h3>Grams <small>Yesterday</small></h3>
            <small>10 above prior 7 days</small>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="unit-panel">
          <div class="panel-body">
            <h1>Fat <small><%= link_to '+', new_meal_path %></small></h1>
            <hr/>
            <h2><%= current_user.meals_from(1.day.ago.at_beginning_of_day).map(&:fat).inject(:+) || 0 %></h2>
            <h3>Grams <small>Yesterday</small></h3>
            <small>10 above prior 7 days</small>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="unit-panel">
          <div class="panel-body">
            <h1>Protein <small><%= link_to '+', new_meal_path %></small></h1>
            <hr/>
            <h2><%= current_user.meals_from(1.day.ago.at_beginning_of_day).map(&:protein).inject(:+) || 0 %></h2>
            <h3>Grams <small>Yesterday</small></h3>
            <small>10 above prior 7 days</small>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <h1>No meal cards available</h1>
  <% end %>
</div>
