<div class="row">
  <div class="columns large-4 push-4">
    <%= form_for @mood, :url => mood_path(@mood), :html => { :class => "custom" } do |f| %>

      <div class="unit-panel">

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :date %>
            <%= date_field("mood", "date", :discard_year => true) %>
            <% if @mood.errors[:source].present? %>
              <small class="error"><%= @mood.errors[:date].join(", ") %></small>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :rating %>
            <%= f.number_field :rating, max: 5, min: 1 %>
            <% if @mood.errors[:source].present? %>
              <small class="error"><%= @mood.errors[:date].join(", ") %></small>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :description %>
            <%= f.text_area :description %>
            <% if @mood.errors[:description].present? %>
              <small class="error"><%= @mood.errors[:description].join(", ") %></small>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="columns large-12">
            <%= f.submit class: "button radius large-12 small-12" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
