<div class="row">
  <div class="columns large-4 push-4">
    <h3 class="text-center">Sign up <small>INVITE ONLY :(</small></h3>
  </div>
</div>

<div class="row">
  <div class="columns large-4 push-4">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "custom" }) do |f| %>
      <div class="panel">

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :name %>
            <%= f.text_field :name, :autofocus => true, disabled: true %>
            <% if resource.errors[:name].present? %>
              <small class="error"><%= resource.errors[:name].join(", ") %></small>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :email %>
            <%= f.email_field :email, disabled: true  %>
            <% if resource.errors[:email].present? %>
              <small class="error"><%= resource.errors[:email].join(", ") %></small>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :password %>
            <%= f.password_field :password, disabled: true  %>
            <% if resource.errors[:password].present? %>
              <small class="error"><%= resource.errors[:password].join(", ") %></small>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, disabled: true %>
            <% if resource.errors[:password_confirmation].present? %>
              <small class="error"><%= resource.errors[:password_confirmation].join(", ") %></small>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="columns large-12">
            <%= f.submit "Sign up", class: "button radius large-12 small-12 disabled", disabled: true %>
          </div>
        </div>

      </div>

    <% end %>
  </div>
</div>

<div class="row">
  <div class="columns large-12">
    <p class="text-center">
      <strong>
        <%= link_to "Can't wait? Fork the source", "https://github.com/jdjkelly/quantify" %>
      </strong>
    </p>
  </div>
</div>
