<h1>Listing weights</h1>

<table>
  <tr>
    <th>id</th>
    <th>type</th>
    <th>value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @weights.each do |weight| %>
  <tr>
    <td><%= weight.id %></td>
    <td><%= weight.type.present? ? weight.type.human : nil %></td>
    <td><%= weight.value %></td>
    <td><%= link_to 'Show', weight %></td>
    <td><%= link_to 'Edit', edit_body_weight_path(weight) %></td>
    <td><%= link_to 'Destroy', weight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Weight', new_body_weight_path %>
