<div class="hero top text-center">
  <h1>
    Visualize your <strong>quant</strong>ified self.
  </h1>
  <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-inverse btn-lg" %>
  </div>
</div>

<div class="hero middle text-center">
  <h2>Quant is an open source project that stores your quantified self data</h2>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-2">
        <a href="https://www.github.com/jdjkelly/quant">
        <%= fa_icon "code-fork", class: "fa-5x" %>
        <h4>MIT licensed</h4></a>
      </div>

      <div class="col-md-2">
        <%= fa_icon "dashboard", class: "fa-5x" %>
        <h4>Automatic or manual</h4>
      </div>

      <div class="col-md-2">
        <%= fa_icon "flask", class: "fa-5x" %>
        <h4>Data projections</h4>
      </div>

      <div class="col-md-2">
        <%= fa_icon "pencil", class: "fa-5x" %>
        <h4>Annotate events</h4>
      </div>

      <div class="col-md-2">
        <%= fa_icon "table", class: "fa-5x" %>
        <h4>View historical data</h4>
      </div>

      <div class="col-md-2">
        <a href="https://www.github.com/jdjkelly/quant">
        <%= fa_icon "github", class: "fa-5x" %>
        <h4>Source on Github</h4></a>
      </div>
    </div>
  </div>
</div>

<div class="hero bottom text-center">
  <h2><%= link_to 'Sign up here', new_user_registration_path %>, or host it yourself</h2>
  <%= link_to 'Star on Github', "https://www.github.com/jdjkelly/quant", class: "btn btn-inverse btn-lg" %>
</div>


