<% if current_user.weights.any? %>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="unit-panel">
        <div class="panel-body">
          <h1>Weight <small><%= link_to '+', new_weight_path %></small></h1>
          <hr/>
          <h2><%= Unit.new(current_user.weight, :kilograms).to_system(:imperial).round(1) %></h2>
          <h3></h3>
          <small>-0.32 lbs vs. 7 days ago</small>
          <hr/>
          <span class="label label-primary">Withings</span>
          <span class="label label-primary">Fitbit</span>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="unit-panel">
        <div class="panel-body">
          <h1>BMI <small><%= link_to '+', new_weight_path %></small></h1>
          <hr/>
          <h2>
            <% if current_user.bmi %>
              <%= current_user.bmi.round(1) %>
            <% else %>
              N/A <small><%= link_to 'Add your height', edit_registration_path(current_user) %></small>
            <% end %>
          </h2>
          <h3>points</h3>
          <small>-0.2 points vs. 7 days ago</small>
          <hr/>
          <span class="label label-primary">Withings</span>
          <span class="label label-primary">Fitbit</span>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="unit-panel">
        <div class="panel-body">
          <h1>Body Fat <small><%= link_to '+', new_weight_path %></small></h1>
          <hr/>
          <h2>
            <% if current_user.fat_percent %>
              <%= current_user.fat_percent.round(1) %>
            <% else %>
              N/A
            <% end %>
          </h2>
          <h3>percent</h3>
          <small>-0.25% vs. 7 days ago</small>
          <hr/>
          <span class="label label-primary">Withings</span>
          <span class="label label-primary">Fitbit</span>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="unit-panel">
        <div class="panel-body">
          <h1>Lean Mass <small><%= link_to '+', new_weight_path %></small></h1>
          <hr/>
          <h2>
            <% if current_user.lean_mass %>
              <%= Unit.new(current_user.lean_mass, :kilograms).to_system(:imperial).round(1) %>
            <% else %>
              N/A
            <% end %>
          </h2>
          <h3>pounds</h3>
          <small>+0.2 lbs vs. 7 days ago</small>
          <hr/>
          <span class="label label-primary">Withings</span>
          <span class="label label-primary">Fitbit</span>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <h1>No weight cards available</h1>
<% end %>
