<div class="row">
  <div class="columns large-4 push-4">
    <%= form_for @weight, :url => weight_path(@weight), :html => { :class => "custom" } do |f| %>

      <div class="unit-panel">

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :value %>
            <%= f.text_field :value %>
            <% if @weight.errors[:value].present? %>
              <small class="error"><%= @weight.errors[:value].join(", ") %></small>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :fat_percent %>
            <%= f.text_field :fat_percent %>
            <% if @weight.errors[:fat_percent].present? %>
              <small class="error"><%= @weight.errors[:fat_percent].join(", ") %></small>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :lean_mass %>
            <%= f.text_field :lean_mass %>
            <% if @weight.errors[:lean_mass].present? %>
              <small class="error"><%= @weight.errors[:lean_mass].join(", ") %></small>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :source %>
            <%= f.text_field :source %>
            <% if @weight.errors[:source].present? %>
              <small class="error"><%= @weight.errors[:source].join(", ") %></small>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :date %>
            <%= datetime_local_field("weight", "date", :discard_year => true) %>
            <% if @weight.errors[:source].present? %>
              <small class="error"><%= @weight.errors[:date].join(", ") %></small>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="columns large-12">
            <%= f.submit class: "button radius large-12 small-12" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
