<div class="row">
  <div class="columns large-12">
    <h1>All weights</h1>
  </div>
</div>

<div class="row">
  <div class="columns large-12">
    <table>
      <tr>
        <th>id</th>
        <th>value</th>
        <th>lean_mass</th>
        <th>fat_mass</th>
        <th>fat_percentage</th>
        <th>bmi</th>
        <th>recorded_at</th>
        <th>created_at</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @weights.each do |weight| %>
      <tr>
        <td><%= weight.id %></td>
        <td><%= weight.value %></td>
        <td><%= weight.lean_mass %></td>
        <td><%= weight.fat_mass %></td>
        <td><%= weight.fat_percentage %></td>
        <td><%= weight.bmi %></td>
        <td><%= weight.recorded_at %></td>
        <td><%= weight.created_at %></td>
        <td><%= link_to 'Show', weight_path(weight) %></td>
        <td><%= link_to 'Edit', edit_weight_path(weight) %></td>
        <td><%= link_to 'Destroy', weight_path(weight), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>

    <br />
  </div>
</div>

<div class="row">
  <div class="columns large-12">
    <%= link_to 'New Weight', new_weight_path %>
  </div>
</div>
