<div class="row">
  <div class="columns large-12">
    <table>
      <thead>
        <tr>
          <th>Start</th>
          <th>End</th>
          <th>Duration</th>
          <th>API</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

    <% @sleeps.each do |sleep| %>
      <tr>
        <td><%= link_to sleep.start.in_time_zone(current_user.time_zone).to_formatted_s(:short), sleep %></td>
        <td><%= link_to sleep.end.in_time_zone(current_user.time_zone).to_formatted_s(:short), sleep %></td>
        <td><%= formatted_duration(sleep) %></td>
        <td><%= link_to 'JSON', sleep_path(sleep, format: :json) %></td>
        <td><%= link_to 'Edit', edit_sleep_path(sleep) %></td>
        <td><%= link_to 'Destroy', sleep_path(sleep), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
