<nav class="sub-header-nav-bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-xs-3">
        <h3>Sleeps</h3>
      </div>
      <div class="col-sm-6 col-xs-9">
        <ul class="state-switcher">
          <li><%= link_to 'Add Sleep', new_sleep_path %></li>
          <li class="active"><a href="#">Summary</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <%= render 'cards' %>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-lg-10 col-lg-offset-1">
      <table class="table">
        <thead>
          <tr>
            <th>Start</th>
            <th>End</th>
            <th>Duration</th>
            <th class="hidden-xs">API</th>
            <th class="hidden-xs"></th>
            <th class="hidden-xs"></th>
          </tr>
        </thead>

        <% @sleeps.each do |sleep| %>
          <tr>
            <td><%= link_to sleep.start.in_time_zone(current_user.time_zone).to_formatted_s(:short), sleep %></td>
            <td><%= link_to sleep.end.in_time_zone(current_user.time_zone).to_formatted_s(:short), sleep %></td>
            <td><%= formatted_duration(sleep) %></td>
            <td class="hidden-xs"><%= link_to 'JSON', sleep_path(sleep, format: :json) %></td>
            <td class="hidden-xs"><%= link_to 'Edit', edit_sleep_path(sleep) %></td>
            <td class="hidden-xs"><%= link_to 'Destroy', sleep_path(sleep), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
