<%= form_for @meal, html: { role: "form", class: "transparent-form" } do |f| %>

  <h3 class="text-center">Add meal</h3>

  <%= content_tag :div, class: [("has-error" if @meal.errors[:calories].present?), "form-group"] do %>
    <% if @meal.errors[:calories].present? %>
      <%= f.label :calories, class: "control-label" do %>Calories <%= @meal.errors[:calories].join(", ") %><% end %>
    <% else %>
      <%= f.label :calories, class: "hidden" %>
    <% end %>
    <%= f.text_field :calories, placeholder: "Calories", autofocus: true, class: "form-control input-xl text-center" %>
  <% end %>

  <%= content_tag :div, class: [("has-error" if @meal.errors[:fat].present?), "form-group"] do %>
    <% if @meal.errors[:fat].present? %>
      <%= f.label :fat, class: "control-label" do %>Fat <%= @meal.errors[:fat].join(", ") %><% end %>
    <% else %>
      <%= f.label :fat, class: "hidden" %>
    <% end %>
    <%= f.text_field :fat, placeholder: "Fat", autofocus: true, class: "form-control input-xl text-center" %>
  <% end %>


  <div class="form-group">
    <%= f.label :carbohydrates, class: "hidden" %>
    <%= f.text_field :carbohydrates, placeholder: "Carbs", class: "form-control input-xl text-center" %>
    <% if @meal.errors[:carbohydrates].present? %>
      <small class="error"><%= @meal.errors[:carbohydrates].join(", ") %></small>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :protein, class: "hidden" %>
    <%= f.text_field :protein, placeholder: "Protein", class: "form-control input-xl text-center" %>
    <% if @meal.errors[:protein].present? %>
      <small class="error"><%= @meal.errors[:protein].join(", ") %></small>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "hidden" %>
    <%= f.text_field :description, placeholder: "Description", class: "form-control input-xl text-center" %>
    <% if @meal.errors[:description].present? %>
      <small class="error"><%= @meal.errors[:description].join(", ") %></small>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :date, class: "hidden" %>
    <%= date_field("meal", "date", :discard_year => true, placeholder: "yyyy-mm-dd", class: "form-control input-xl text-center") %>
    <% if @meal.errors[:date].present? %>
      <small class="error"><%= @meal.errors[:date].join(", ") %></small>
    <% end %>
  </div>

  <%= f.submit class: "btn btn-default btn-block btn-xl"%>
<% end %>
