<div class="row">
  <div class="columns large-12">
    <h1>Meals</h1>
  </div>
</div>

<div class="row">
  <div class="columns large-12">
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>date</th>
          <th>calories</th>
          <th>carbohydrates</th>
          <th>fat</th>
          <th>protein</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

    <% @meals.each do |meal| %>
      <tr>
        <td><%= meal.id %></td>
        <td><%= meal.date %></td>
        <td><%= meal.calories %></td>
        <td><%= meal.carbohydrates %></td>
        <td><%= meal.fat %></td>
        <td><%= meal.protein %></td>
        <td><%= link_to 'Show', meal %></td>
        <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
        <td><%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="columns large-12">
    <%= link_to 'New Meal', new_meal_path %>
  </div>
</div>
