<div class="row">
  <div class="columns large-4 push-4">
    <h3 class="text-center">Log in</h2>
  </div>
</div>

<div class="row">
  <div class="columns large-4 push-4">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "custom" }) do |f| %>
      <div class="panel">
        <div class="row">
          <div class="large-12 columns">
            <%= f.label :email %>
            <%= f.email_field :email, :autofocus => true %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>

          <div class="row">
            <div class="large-12 columns">
              <%= f.label :remember_me do %>
                <%= f.check_box :remember_me, style: "display: none;" %>
                <span class="custom checkbox"></span> Remember me
              <% end %>
            </div>
          </div>
        <% end -%>

        <div class="row">
          <div class="columns large-12">
            <%= f.submit "Log in", class: "button radius large-12 small-12" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="columns large-12">
    <p class="text-center">
      <strong>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
        <% end -%>
      </strong>
    </p>
    <p class="text-center">
      <strong>
        <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
          <%= link_to "Resend confirmation email", new_confirmation_path(resource_name) %>
        <% end -%>
      </strong>
    </p>
  </div>
</div>
