<div class="row">
  <div class="columns large-6 push-3">
    <h2>Log in</h2>
  </div>
</div>

<div class="row">
  <div class="columns large-6 push-3">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "custom" }) do |f| %>
      <div class="panel">
        <div class="row">
          <div class="large-12 columns">
            <%= f.label :email %>
            <%= f.email_field :email, :autofocus => true %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>

          <div class="row">
            <div class="large-12 columns">
              <%= f.label :remember_me do %>
                <%= f.check_box :remember_me, style: "display: none;" %>
                <span class="custom checkbox"></span> Remember me
              <% end %>
            </div>
          </div>
        <% end -%>

      </div>

      <div class="row">
        <%= f.submit "Log in", class: "button radius columns large-6 push-3" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
