<h1>Listing locations</h1>

<table>
  <tr>
    <th>id</th>
    <th>lat</th>
    <th>lng</th>
    <th>recorded_at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.id %></td>
    <td><%= location.lat %></td>
    <td><%= location.lng %></td>
    <td><%= location.recorded_at %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_location_path %>
