<div class="row">
  <div class="columns large-3">
    <%= link_to 'New Place', new_place_path, class: "small button" %>
  </div>
  <div class="columns large-6 pull-3">
    <h3 class="text-center">Places</h3>
  </div>
</div>

<div class="row">
  <div class="columns large-12">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Lat</th>
          <th>Lng</th>
          <th>API</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <% @places.each do |place| %>
        <tr>
          <td><%= link_to place.date.to_formatted_s(:short), place %></td>
          <td><%= place.lat %></td>
          <td><%= place.lng %></td>
          <td><%= link_to 'JSON', place_path(place, format: :json) %></td>
          <td><%= link_to 'Edit', edit_place_path(place) %></td>
          <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
