<div class="contain-to-grid">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1>
          <%= link_to 'Quantify.io', "/" %>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <% if user_signed_in? %>
      <section class="top-bar-section">
        <ul class="left">
          <li>
            <%= link_to "Show weights", weights_path %>
          </li>
          <li>
            <%= link_to "Add weight", new_weight_path %>
          </li>
        </ul>
      </section>
      <section class="top-bar-section">
        <ul class="right">
          <li class="has-dropdown"><%= link_to current_user.name, user_path(current_user) %></a>

            <ul class="dropdown">
              <li><label>User Settings</label></li>

              <li><%= link_to "Edit settings", edit_user_registration_path %></li>
              <li class="divider"></li>

              <li><label>Data Sources Settings</label></li>
              <li><Edit sources</a></li>
              <li><a href="#">Sync sources</a></li>
              <li class="divider"></li>
              <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
            </ul>
          </li>
        </ul>
      </section>
    <% end %>
  </nav>
</div>
