<div class="contain-to-grid">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1>
          <%= link_to 'Quant', "/" %>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <% if user_signed_in? %>
      <section class="top-bar-section">
        <ul class="left">
          <li>
            <%= link_to "Weight", weights_path %>
          </li>
          <li>
            <%= link_to "Places", places_path %>
          </li>
          <li>
            <%= link_to "Meals", meals_path %>
          </li>
          <li>
            <%= link_to "Moods", moods_path %>
          </li>
          <li class="has-dropdown"><a href="#">Data providers</a>
            <ul class="dropdown">
                <%- User.omniauth_providers.each do |provider| %>
                  <li><%= link_to "Connect #{provider.to_s.titleize}", omniauth_authorize_path(User, provider) %></li>
                <% end -%>
            </ul>
          </li>
        </ul>
      </section>
      <section class="top-bar-section">
        <ul class="right">
          <li class="has-dropdown"><%= link_to current_user.name, user_path(current_user) %>

            <ul class="dropdown">
              <li><label>User Settings</label></li>

              <li><%= link_to "Edit settings", edit_user_registration_path %></li>
              <li class="divider"></li>

              <li><label>Data Sources Settings</label></li>
              <li>Edit sources</li>
              <li><a href="#">Sync sources</a></li>
              <li class="divider"></li>
              <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
            </ul>
          </li>
        </ul>
      </section>
    <% end %>
  </nav>
</div>
