<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <ul>
      <li class="name">
        <h1>
          <%= link_to 'Quant', "/" %>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>
    <% if user_signed_in? %>
      <section class="top-bar-section">
        <ul class="left">
          <li class="divider"></li>
          <%= nav_link "Weight", weights_path %>
          <%= nav_link "Places", places_path %>
          <%= nav_link "Meals", meals_path %>
          <%= nav_link "Mood", moods_path %>
          <%= nav_link "Sleep", sleeps_path %>
          <li class="divider"></li>
        </ul>
      </section>
      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li class="has-dropdown"><a href="#">Data providers</a>
            <ul class="dropdown">
                <%- User.omniauth_providers.each do |provider| %>

                  <li><%= link_to raw("Connect #{provider.to_s.titleize}   <span class=\"label success\">connected</span>"), omniauth_authorize_path(User, provider) %></li>
                <% end -%>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown"><%= link_to current_user.name, user_path(current_user) %>

            <ul class="dropdown">
              <li><label>User Settings</label></li>

              <li><%= link_to "Edit settings", edit_user_registration_path %></li>
              <li class="divider"></li>

              <li><label>Data Sources Settings</label></li>
              <li><a href="#">Edit sources</a></li>
              <li><a href="#">Sync sources</a></li>
              <li class="divider"></li>
              <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
            </ul>
          </li>
        </ul>
      </section>
    <% end %>

  </div>
</nav>
